//Colors COgroup
$cog-purple: rgba(124,23,127,1);
$cog-light-purple: rgba(175,0,83,1);
$cog-orange: rgba(219,150,18,1);
$cog-light-green: rgba(163,189,53,1);
$cog-blue: rgba(73,80,151,1);
$cog-light-blue: rgba(119,171,220,1);
$cog-green: rgba(113,168,60,1);
$cog-yellow: rgba(203,200,61,1);
$cog-text-blue: rgba(67,109,174,1);
$cog-grey: rgba(53,53,53,1);
//Font
$cog-font-path: "../fonts" !default;
$font-family-base: "Museo Sans 300";
$font-size-base: 1rem;

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);