body {
	&.blue {
		background-color: $cog-light-grey-2 !important;
		.preloader {
			& .loader {
				&[data-color="blue"]{
		     @include preloader-color(rgba(73, 80, 151, 1), rgba(58, 65, 152, 1), rgba(48, 54, 126, 1), rgba(36, 41, 96, 1));
		    }
			}
		}

		.custom-control-input:checked ~ .custom-control-label::before {
			border-color: rgb(73, 80, 151) !important;
			background-color: rgb(73, 80, 151) !important;
		}

		.vertical-accordion-menu-footer {
			color: $white;
		}

		a:not(.btn) {
			color: rgba(73,80,151,1) !important;
			&:hover {
				color: rgba(73,80,151,.8) !important;
			}
		}

		.btn-theme, 
		ul.pagination .page-item.active .page-link, ul.pagination .page-item.active .page-link:focus {
			background-color: rgba(73,80,151,1) !important;
			border-color: rgba(73,80,151,1) !important;
			color: $white !important;
			&:hover {
				background-color: rgba(58,65,152,.8) !important;
			}
		}

		.navbar, .nav-tabs {
			&[data-background-color="blue"] {
				& {
					a {
						color: $white !important;
						&.active {
							color: $cog-blue !important;
						}
					}
				}
				& .dropdown-menu {
					& a {
						color: $cog-grey !important;
						&:hover {
							background-color: hsla(234,35%,44%,.2) !important;
						}
					}
				}
			}
		}

		.sidenav {
  		background-color: rgb(73,80,171);
  		& a {
  			color: $white !important;
  			&:hover {
  				color: rgba(255,255,255,.8) !important;
  			}
  		}
		}

		.scrollbar-primary::-webkit-scrollbar-thumb {
			background-color: $cog-blue !important;
		}

		.timeline {
		  &::before {
			  background: $cog-blue;
			  background: -webkit-gradient(left top, left bottom, color-stop(0%, $cog-blue), color-stop(100%, $white));
			  background: linear-gradient(to bottom, $cog-blue 0%, $white 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$cog-blue", endColorstr="$white", GradientType=0 );
			}

			& li {
			  & .timeline-badge {
				  background-color: $cog-blue;
				  color: $white;
				}

				& .timeline-panel {
				  border: 1px solid rgba(73,80,171,.5);

				  &::before {
					  border-left: 0px solid rgba(73,80,171,.5);
					  border-right: 8px solid rgba(73,80,171,.5);
					}

					&::after {
					  border-left: 0 solid $cog-light-grey;
					  border-right: 8px solid $cog-light-grey;
					}
				}
			}
		}
	}
}

[data-background-color="blue"]{
    background-color: rgba(73, 80, 151) !important;
}

[filter-background-linear-color="blue"]{
    @include linear-gradient(rgba($black,.20), rgba(73, 80, 151, 0.6));
}

[filter-background-color="blue"]{
    background-color: rgba(73, 80, 151, 0.6);
}

.text-color {
	&[data-color="blue"]{
		color: $cog-blue !important;
  }
}

.md-form {
  &[data-color="blue"] > .tagsinput .tag {
		background: $cog-blue !important;
		& .tag-remove {
			color: $cog-light-blue !important;
		}
		& .tag-remove:before, & .tag-remove:after {
			background: $cog-light-blue !important;
		}
  }
}