body {
	&.dark {
		background-color: $cog-light-grey-2 !important;
		.preloader {
			& .loader {
				&[data-color="dark"]{
		     @include preloader-color(rgba(53, 53, 53, 1), rgba(40, 40, 40, 1), rgba(28, 28, 28, 1), rgba(2, 2, 2, 1));
		    }
			}
		}

		.custom-control-input:checked ~ .custom-control-label::before {
			border-color: rgb(53,53,53) !important;
			background-color: rgb(53,53,53) !important;
		}

		.vertical-accordion-menu-footer {
			color: $white;
		}

		a:not(.btn) {
			color: rgba(53,53,53,1) !important;
			&:hover {
				color: rgba(53,53,53,.8) !important;
			}
		}

		.btn-theme, 
		ul.pagination .page-item.active .page-link, ul.pagination .page-item.active .page-link:focus {
			background-color: rgba(53,53,53,1) !important;
			border-color: rgba(53,53,53,1) !important;
			color: $white !important;
			&:hover {
				background-color: rgba(53,53,53,.8) !important;
			}
		}

		.navbar, .nav-tabs {
			&[data-background-color="dark"] {
				& {
					a {
						color: $white !important;
						&.active {
							color: $cog-grey !important;
						}
					}
				}
				& .dropdown-menu {
					& a {
						color: $cog-grey !important;
						&:hover {
							background-color: hsla(0,0%,21%,.2) !important;
						}
					}
				}
			}
		}

		.sidenav {
  		background-color: rgb(69,69,69);
  		& a {
  			color: $white !important;
  			&:hover {
  				color: rgba(255,255,255,.8) !important;
  			}
  		}
		}

		.scrollbar-primary::-webkit-scrollbar-thumb {
			background-color: $cog-grey !important;
		}

		.timeline {
		  &::before {
			  background: $cog-grey;
			  background: -webkit-gradient(left top, left bottom, color-stop(0%, $cog-grey), color-stop(100%, $white));
			  background: linear-gradient(to bottom, $cog-grey 0%, $white 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$cog-grey", endColorstr="$white", GradientType=0 );
			}

			& li {
			  & .timeline-badge {
				  background-color: $cog-grey;
				  color: $white;
				}

				& .timeline-panel {
				  border: 1px solid rgba(69,69,69,.5);

				  &::before {
					  border-left: 0px solid rgba(69,69,69,.5);
					  border-right: 8px solid rgba(69,69,69,.5);
					}

					&::after {
					  border-left: 0 solid $cog-light-grey;
					  border-right: 8px solid $cog-light-grey;
					}
				}
			}
		}
	}
}

[data-background-color="dark"]{
    background-color: rgba(53, 53, 53) !important;
    color: $white !important;
}

[filter-background-linear-color="dark"]{
    @include linear-gradient(rgba($black,.20), rgba(53, 53, 53, 0.6));
}

[filter-background-color="dark"]{
    background-color: rgba(53, 53, 53, 0.6);
}

.text-color {
	&[data-color="dark"]{
    color: $cog-grey !important;
  }
}

.md-form {
  &[data-color="dark"] > .tagsinput .tag {
    background: $cog-grey !important;
		& .tag-remove {
			color: $white !important;
		}
		& .tag-remove:before, & .tag-remove:after {
			background: $white !important;
		}
  }
}