body {
	&.lightgreen {
		background-color: $cog-light-grey-2 !important;
		.preloader {
			& .loader {
				&[data-color="lightgreen"]{
		     @include preloader-color(rgba(163, 189, 53, 1), rgba(142, 163, 46, 1), rgba(111, 127, 36, 1), rgba(86, 99, 28, 1));
		    }
			}
		}

		.custom-control-input:checked ~ .custom-control-label::before {
			border-color: rgb(163,189,53) !important;
			background-color: rgb(163,189,53) !important;
		}

		.vertical-accordion-menu-footer {
			color: $white;
		}

		a:not(.btn) {
			color: rgba(163,189,53,1) !important;
			&:hover {
				color: rgba(163,189,53,.8) !important;
			}
		}

		.btn-theme, 
		ul.pagination .page-item.active .page-link, ul.pagination .page-item.active .page-link:focus {
			background-color: rgba(163,189,53,1) !important;
			border-color: rgba(163,189,53,1) !important;
			color: $white !important;
			&:hover {
				background-color: rgba(163,189,53,.8) !important;
			}
		}

		.navbar, .nav-tabs {
			&[data-background-color="lightgreen"] {
				& {
					a {
						color: $white !important;
						&.active {
							color: $cog-light-green !important;
						}
					}
				}
				& .dropdown-menu {
					& a {
						color: $cog-grey !important;
						&:hover {
							background-color: hsla(71,56%,47%,.2) !important;
						}
					}
				}
			}
		}

		.sidenav {
  		background-color: rgb(163,199,53);
  		& a {
  			color: $white !important;
  			&:hover {
  				color: rgba(255,255,255,.8) !important;
  			}
  		}
		}

		.scrollbar-primary::-webkit-scrollbar-thumb {
			background-color: $cog-light-green !important;
		}

		.timeline {
		  &::before {
			  background: $cog-light-green;
			  background: -webkit-gradient(left top, left bottom, color-stop(0%, $cog-light-green), color-stop(100%, $white));
			  background: linear-gradient(to bottom, $cog-light-green 0%, $white 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$cog-light-green", endColorstr="$white", GradientType=0 );
			}

			& li {
			  & .timeline-badge {
				  background-color: $cog-light-green;
				  color: $white;
				}

				& .timeline-panel {
				  border: 1px solid rgba(163,199,53,.5);

				  &::before {
					  border-left: 0px solid rgba(163,199,53,.5);
					  border-right: 8px solid rgba(163,199,53,.5);
					}

					&::after {
					  border-left: 0 solid $cog-light-grey;
					  border-right: 8px solid $cog-light-grey;
					}
				}
			}
		}
	}
}

[data-background-color="lightgreen"]{
    background-color: rgba(163, 189, 53) !important;
}

[filter-background-linear-color="lightgreen"]{
    @include linear-gradient(rgba($black,.20), rgba(163, 189, 53, 0.6));
}

[filter-background-color="lightgreen"]{
    background-color: rgba(163, 189, 53, 0.6);
}

.text-color {
	&[data-color="lightgreen"]{
		color: $cog-light-green !important;
  }
}

.md-form {
  &[data-color="lightgreen"] > .tagsinput .tag {
		background: $cog-light-green !important;
		& .tag-remove {
			color: $cog-green !important;
		}
		& .tag-remove:before, & .tag-remove:after {
			background: $cog-green !important;
		}
  }
}