body {
	&.orange {
		background-color: $cog-light-grey-2 !important;
		.preloader {
			& .loader {
				&[data-color="orange"]{
		     @include preloader-color(rgba(219, 150, 18, 1), rgba(217, 114, 18, 1), rgba(217, 87, 18, 1), rgba(198, 62, 16, 1));
		    }
			}
		}

		.custom-control-input:checked ~ .custom-control-label::before {
			border-color: rgb(219,150,18) !important;
			background-color: rgb(219,150,18) !important;
		}

		.vertical-accordion-menu-footer {
			color: $cog-grey;
		}

		a:not(.btn) {
			color: rgba(219,150,18,1) !important;
			&:hover {
				color: rgba(219,150,18,.8) !important;
			}
		}

		.btn-theme, 
		ul.pagination .page-item.active .page-link, ul.pagination .page-item.active .page-link:focus {
			background-color: rgba(219,150,18,1) !important;
			border-color: rgba(219,150,18,1) !important;
			color: $white !important;
			&:hover {
				background-color: rgba(219,150,18,.8) !important;
			}
		}

		.navbar, .nav-tabs {
			&[data-background-color="orange"] {
				& {
					a {
						color: $cog-grey !important;
						&.active {
							color: $cog-orange !important;
						}
					}
				}
				& .dropdown-menu {
					& a {
						color: $cog-grey !important;
						&:hover {
							background-color: hsla(39,85%,46%,.2) !important;
						}
					}
				}
			}
		}

		.sidenav {
  		background-color: rgb(239,150,18) !important;
  		& a {
  			color: $cog-grey !important;
  			&:hover {
  				color: $cog-light-grey !important;
  			}
  		}
		}

		.scrollbar-primary::-webkit-scrollbar-thumb {
			background-color: $cog-orange !important;
		}

		.timeline {
		  &::before {
			  background: $cog-orange;
			  background: -webkit-gradient(left top, left bottom, color-stop(0%, $cog-orange), color-stop(100%, $white));
			  background: linear-gradient(to bottom, $cog-orange 0%, $white 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$cog-orange", endColorstr="$white", GradientType=0 );
			}

			& li {
			  & .timeline-badge {
				  background-color: $cog-orange;
				  color: $cog-grey;
				}

				& .timeline-panel {
				  border: 1px solid rgba(239,150,18,.5);

				  &::before {
					  border-left: 0px solid rgba(239,150,18,.5);
					  border-right: 8px solid rgba(239,150,18,.5);
					}

					&::after {
					  border-left: 0 solid $cog-light-grey;
					  border-right: 8px solid $cog-light-grey;
					}
				}
			}
		}
	}
}

[data-background-color="orange"]{
    background-color: rgba(219, 150, 18) !important;
}

[filter-background-linear-color="orange"]{
    @include linear-gradient(rgba($black,.20), rgba(219, 150, 18, 0.6));
}

[filter-background-color="orange"]{
    background-color: rgba(219, 150, 18, 0.6);
}

.text-color {
	&[data-color="orange"]{
		color: $cog-orange !important;
  }
}

.md-form {
  &[data-color="orange"] > .tagsinput .tag {
		background: $cog-orange !important;
		& .tag-remove {
			color: $white !important;
		}
		& .tag-remove:before, & .tag-remove:after {
			background: $white !important;
		}
  }
}